/**
 * Digitalogic Admin Bar Styles
 * 
 * Styles for the WordPress admin bar menu integration
 */

/* Admin Bar Menu Styles */
#wpadminbar #wp-admin-bar-digitalogic .ab-icon:before {
    content: '\f111';
    top: 2px;
}

#wpadminbar #wp-admin-bar-digitalogic .ab-label {
    margin-left: 5px;
}

#wpadminbar #wp-admin-bar-digitalogic .ab-item .dashicons {
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

#wpadminbar #wp-admin-bar-digitalogic > .ab-item .ab-icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
}

/* Admin bar submenu items */
#wpadminbar #wp-admin-bar-digitalogic .ab-submenu .ab-item {
    height: auto;
    padding: 0;
}

#wpadminbar #wp-admin-bar-digitalogic .ab-submenu .ab-item span {
    display: inline-block;
    vertical-align: middle;
}
